.header{
    background-color: burlywood;
    color: aqua;
    text-align: center;
    padding: 1rem;
}
.flex-cointainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.flex-item{
    flex: 1;
    border: 1px solid darkgoldenrod;
    padding: 1rem;
    min-width: 265px;
}
.footer{
    background-color: aquamarine;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}